<template>
    <div>
        <div style="text-align:center;"><h1>VUE APP</h1></div>
        <nav class="navbar navbar-expand-sm bg-light">

          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <router-link to="getUsers" class="nav-link">User Records</router-link>
            </li>
            <li class="nav-item">
              <router-link to="showGraph" class="nav-link">Graph</router-link>
            </li>
          </ul>

        </nav>
    </div>

</template>
