<template>
    <div>
        <div class="text-right">

        <router-link to="/" class="nav-link"><button class="btn btn-primary pull-right">Back</button></router-link>
        </div>

        <h1 style="text-aligh:center;">Bar Chart</h1>
        <mdb-container>
            <mdb-bar-chart
              :data="barChartData"
              :options="barChartOptions"
              :width="1000"
              :height="800"
            ></mdb-bar-chart>
        </mdb-container>
    </div>
</template>

<script>
  import { mdbBarChart, mdbContainer } from "mdbvue";
  export default {
    name: "ChartPage",
    components: {
      mdbBarChart,
      mdbContainer
    },
    data() {
      return {
        barChartData: {
        },
        barChartOptions: {
          responsive: false,
          maintainAspectRatio: false,
          scales: {
            xAxes: [
              {
                barPercentage: 1,
                gridLines: {
                  display: true,
                  color: "rgba(0, 0, 0, 0.1)"
                }
              }
            ],
            yAxes: [
              {
                gridLines: {
                  display: true,
                  color: "rgba(0, 0, 0, 0.1)"
                }
              }
            ]
          }
        }
      };
    },
    mounted() {
        var app = this;
        axios.get('/api/v1/getTopSalaryData')
            .then(function (resp) {
                var users = [];
                var labels = [];
                var datasets = [];
                var salary = [];
                var backgroundColorList = [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 99, 132, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(75, 192, 192, 0.2)"
              ]
                var borderColorList = [
                    "rgba(255,99,132,1)",
                    "rgba(54, 162, 235, 1)",
                    "rgba(255, 206, 86, 1)",
                    "rgba(75, 192, 192, 1)",
                    "rgba(153, 102, 255, 1)",
                    "rgba(255, 159, 64, 1)",
                    "rgba(255, 159, 64, 1)",
                    "rgba(255, 159, 64, 1)",
                    "rgba(255, 159, 64, 1)",
                    "rgba(255, 159, 64, 1)"
                  ]
                users = resp.data;
                for (var i=0; i<users.length;i++) {
                    labels.push(users[i].name);
                    salary.push(users[i].salary);
                }
                var set = {
                    label: "highest salary",
                    data : salary,
                    backgroundColor : backgroundColorList,
                    borderColor : borderColorList,
                    borderWidth : 1
                };
                datasets.push(set);
                app.barChartData = {
                        labels,
                        datasets
                    };
            })
            .catch(function (resp) {
                console.log(resp);
                alert("Could not load users");
            });
    }
  };
</script>

