<template>
    <div>
        <div class="text-right">

        <router-link to="/" class="nav-link"><button class="btn btn-primary pull-right">Back</button></router-link>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center;"><h2>Users list</h2></div>
            <div class="panel-body">
                <table class="table table-bordered table-striped" style="margin-top:50px;">
                <thead>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Age</th>
                      <th>Salary</th>
                      <th>City</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user, index in users">
                        <td>{{index+1}}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.age }}</td>
                        <td>{{ user.salary }}</td>
                        <td>{{ user.city }}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                users: []
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/v1/users')
                .then(function (resp) {
                    app.users = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load users");
                });
        },
        methods: {

        }
    }
</script>
